/* 기본설정 */
html,body{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: black;
}
button{
    cursor: pointer;
    background: none;
    border: none;
}
.hidden{
    width: 1px;
    height: 1px;
    position: absolute;
    line-height: 0px;
    font-size: 0px;
}
.is-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

/* 상단메뉴 */
div.header_wrap{
    width: 100%;
    height: 120px;
    background: #0f0d12;
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    border-bottom: solid 2px #fff;
    z-index: 999;
}
header{
    width: 1400px;
    height: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 40px 8px 0px 8px;
    min-width: 768px;
}
h1.logo{
    width: 140px;
    float: left;
}
nav.mainmenu{
    width: 60%;
    height: 100%;
    float: right;
}
ul.mainmenu_list{
    width: 100%;
    height: 100%;
}
ul.mainmenu_list li a{
    font: normal 24px/150% 'Noto Sans KR';
    text-align: center;
    color: white;
}


@media screen and (max-width:1400px) {
    header{
        width: 100%;
    }
}
@media screen and (max-width:986px) {
    nav.mainmenu{
        width: 75%;
    }
}

