/*기본 설정*/
body,html{
    height: 100%;
    width: 100%;
}
html{
    scrollbar-gutter: stable;
    /* 스크롤바가 표시될 공간을 확보하여 스크롤바가 나타나거나 사라질때 콘텐츠의 레이아웃 변화를 방지하는 css 속성. 콘텐츠가 밀리는 것을 방지
    stable 항상 공간 확보, stable both-edges 수평 및 수직 스크롤바 모두 공간 확보 */
}
body{
    font-family: 'pretendard';
    color: #111;
}
a{
    text-decoration: none;
    color: #111;
}
button{
    cursor: pointer;
}
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    line-height: 0px;
    font-size: 0px;
}
.is-flex{
    display: flex;
}
.is-grid{
    display: grid;
}