/*기본 설정*/
body,html{
    height: 100%;
    width: 100%;
}
html{
    scrollbar-gutter: stable;
    /* 스크롤바가 표시될 공간을 확보하여 스크롤바가 나타나거나 사라질때 콘텐츠의 레이아웃 변화를 방지하는 css 속성. 콘텐츠가 밀리는 것을 방지
    stable 항상 공간 확보, stable both-edges 수평 및 수직 스크롤바 모두 공간 확보 */
}
body{
    font-family: 'Noto sans KR';
    color: #111;
}
a{
    text-decoration: none;
    color: #111;
}
button{
    cursor: pointer;
    background: none;
    border: none;
}
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    line-height: 0px;
    font-size: 0px;
}
.is-flex{
    display: flex;
}
.is-grid{
    display: grid;
}
h2{
    font-size: 86px;
    color: white;
    font-weight: 700;
    text-align: left;
    margin-left: 11%;
}


/* 상단메뉴 */
div.header_wrap{
    width: 100%;
    height: 120px;
    background: #0f0d12;
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    border-bottom: solid 2px #fff;
    z-index: 999;
    padding-left: 11%;
    padding-right: 11%;
}
header{
    /* width: 1400px; */
    width: 100%;
    height: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 40px 8px 0px 8px;
    min-width: 768px;
}
h1.logo{
    width: 140px;
    float: left;
    background: red;
}
nav.mainmenu{
    width: 60%;
    height: 100%;
    float: right;
    background: blue;
}
ul.mainmenu_list{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
ul.mainmenu_list li a{
    font: normal 24px/150% 'Noto Sans KR';
    text-align: center;
    color: white;
}



/* 비주얼영역 */
div.visual_wrap{
    width: 100%;
    height: 100vh;
    position: relative;
    left: 0px;
    top: 0px;
}
ul.visual_list{
    width: 100%;
    height: 100%;
    position: relative;
}
ul.visual_list li{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
ul.visual_list li:nth-child(1){
    background: url(/astroart/images/visual0.jpg) no-repeat center center;
    background-size: cover;
    z-index: 3;
}
ul.visual_list li:nth-child(2){
    background: url(/astroart/images/visual1.jpg) no-repeat center center;
    background-size: cover;
    display: none;
}
ul.visual_list li:nth-child(3){
    background: url(/astroart/images/visual2.jpg) no-repeat center center;
    background-size: cover;
    display: none;
}
ul.visual_list li:nth-child(4){
    background: url(/astroart/images/visual3.jpg) no-repeat center center;
    background-size: cover;
    display: none;
}
ul.visual_list li:nth-child(5){
    background: url(/astroart/images/visual4.jpg) no-repeat center center;
    background-size: cover;
    display: none;
}
section.visual{
    /* width: 1400px; */
    width: 100%;
    padding-left: 11%;
    height: 100%;
    margin: 0px auto;
    min-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}
h2.visual_title{
    font: bold 86px 'Noto Sans KR';
    color: white;
    margin-bottom: 16px;
    margin-left: 0%;
}
p.visual_text{
    font: normal 32px 'Noto Sans KR';
    color: white;
}
div.visual_btn_wrap{
    width: 150px;
    height: 10px;
    position: absolute;
    left: 11%;
    bottom: 20%;
    margin-left: 75px;
    z-index: 555;
}
div.visual_btn_wrap button{
    width: 15px;
    height: 25px;
}
div.visual_btn_wrap button i{
    font-size: 20px;
    color: white;
}
button.visual_left_btn{
    position: absolute;
    left: -75px;
    top: -10px;
}
button.visual_right_btn{
    position: absolute;
    right: -60px;
    top: -10px;
}
p.visual_bar{
    position: relative;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 4px;
    background: white;
    box-sizing: border-box;
    border-radius: 20px;
}
span.visual_redbar{
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    width: 20%;
    height: 100%;
    background-color: red;
    box-sizing: border-box;
    border-radius: 20px;
}
span.visual_num{
    position: absolute;
    left: -40px;
    top: -14px;
    font: normal 20px 'Noto Sans KR';
    color: white;
}
p.visual_bar::after{
    content: "05";
    position: absolute;
    right: -40px;
    top: -14px;
    font: normal 20px 'Noto Sans KR';
    color: white;
}

/* 프로젝트1 */
section.story{
    width: 100%;
    height: 100vh;
    background: url(/astroart/images/story_bg1.png) no-repeat center center;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 185px;
}
section.story h2{
    width: 50%;
    margin-left: 11%;
    box-sizing: border-box;
    font-size: 86px;
    color: white;
    font-weight: 700;
    text-align: left;
    margin-bottom: 90px;
    box-sizing: border-box;
}
section.story div{
    /* width: 1400px; */
    width: 100%;
    padding-left: 11%;
    padding-right: 11%;
    box-sizing: border-box;
    font: bold 24px/150% 'Noto Sans KR';
    text-align: justify;
    margin-bottom: 32px;
    min-width: 768px;
    color: white;
}

@media screen and (max-width:1400px){
    section.story{
        padding-top: 50px;
    }
    nav.mainmenu{
        width: 75%;
    }
}
/* project */
section.project{
    background-color: black;
    width: 100%;
    height: 100%;
    padding-top: 18%;
    box-sizing: border-box;
}
div.project_inner{
    margin-left: 11%;
    margin-top: 10%;
}
ul.project_list>li{
    position: relative;
    left: 0;
    top: 0;
    margin-right: 2%;
}
p.project_num{
    position: absolute;
    color: white;
    font-size: 42px;
    font-weight: bold;
    left: 20px;
    top: 12px;
}
p.project_title{
    font-size: 42px;
    font-weight: bold;
    color: white;
    margin-top: 8px;

}

/* contact us */
section.contact_us{
    width: 100%;
    height: 100%;
    background-color: black;
    padding-top: 320px;
    box-sizing: border-box;
}
div.contact_us_inner{
    margin-left: 11%;
    margin-top: 120px;
}