/*기본 설정*/
body,html{
    height: 100%;
    width: 100%;
}
html{
    scrollbar-gutter: stable;
    /* 스크롤바가 표시될 공간을 확보하여 스크롤바가 나타나거나 사라질때 콘텐츠의 레이아웃 변화를 방지하는 css 속성. 콘텐츠가 밀리는 것을 방지
    stable 항상 공간 확보, stable both-edges 수평 및 수직 스크롤바 모두 공간 확보 */
}
body{
    font-family: 'Noto sans KR';
    color: #111;
}
a{
    text-decoration: none;
    color: #111;
}
button{
    cursor: pointer;
}
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    line-height: 0px;
    font-size: 0px;
}
.is-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.is-grid{
    display: grid;
}
h2{
    font-size: 86px;
    color: white;
    font-weight: 700;
    text-align: left;
    margin-left: 11%;
}



/* project */
section.project{
    background-color: black;
    width: 100%;
    height: 100%;
    padding-top: 18%;
    box-sizing: border-box;

}
div.project_inner{
    margin-left: 11%;
    margin-top: 10%;
}
ul.project_list>li{
    position: relative;
    left: 0;
    top: 0;
    margin-right: 2%;
}
p.project_num{
    position: absolute;
    color: white;
    font-size: 42px;
    font-weight: bold;
    left: 20px;
    top: 12px;
}
p.project_title{
    font-size: 42px;
    font-weight: bold;
    color: white;
    margin-top: 8px;

}

/* contact us */
section.contact_us{
    width: 100%;
    height: 100%;
    padding-top: 320px;
    box-sizing: border-box;
    background: url(/astroart/images/contactus_bg.png) no-repeat right center black;
}
div.contact_us_inner{
    margin-left: 11%;
    margin-top: 120px;
    width: 42%;
}
div.fld{
    width: 100%;
    height: 70px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
div.contact_us_inner input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    line-height: 70px;
}
div.contact_us_inner input::placeholder{
    color: white;
    font-size: 24px;
}
span.submitbtn{
    margin: 0 auto;
    display: block;
    width: 60%;
    height: 76px;
    background-color: #1b1b1b;
    border: none;
}
span.submitbtn>input{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

/* footer */

footer{
    width: 100%;
    height: 100px;
    background-color: black;
}
div.footer_inner{
    width: 30%;
    height: 32px;
    margin: 0 auto;
}
div.footer_inner>p{
    color: #fff;
    font-size: 22px;
    font-weight: 300;
}
div.footer_inner>p>span{
    font-weight: bold;
    margin-right: 8px;
}